<style>
#cinema{width:1000px;margin:auto}

#cinema>.col1,
#cinema>.col4 {width:200px}
#cinema>.col2,
#cinema>.col3 {width:600px}

#cinema .heading{
  font-size:2em;
  font-weight:bold;
  font-family:times new roman;
  line-height:110%;

  border-bottom:1px solid white;
}
#cinema .quote{font-style:italic;font-size:.9em}
</style>

<table id="cinema">
  <tr>
    <td class="col1">
      <img src="{{img-left}}">
    </td>
    <td class="col2" style="text-align:center" colspan="2">
      <p class="heading">{{char.name}}<br>{{char.title}}</p>
      <p class="quote">{{char.quote}}</p>
    </td>
    <td style="width:200px;">
      <img src="{{img-right}}">
    </td>
  </tr>
  <tr>
    <td style="width:200px;vertical-align:top;text-align:center;">
      <p style="font-size:1.5em;font-weight:bold;font-family:times new roman;text-align:center;line-height:110%;">SECTION TITLE.</p>
      <hr style="border-bottom:1px solid white;margin: -15px auto 10px; auto;">
      <ul style="text-align:left;">
        <li>put</li>
        <li>content</li>
        <li>here</li>
      </ul>
    </td>
    <td style="width:300px;vertical-align:top;text-align:center;">
      <p style="font-size:1.5em;font-weight:bold;font-family:times new roman;text-align:center;line-height:110%;">SECTION TITLE.</p>
      <hr style="border-bottom:1px solid white;margin: -15px auto 10px; auto;">
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </td>
    <td style="width:300px;vertical-align:top;text-align:center;">
      <p style="font-size:1.5em;font-weight:bold;font-family:times new roman;text-align:center;line-height:110%;">SECTION TITLE.</p>
      <hr style="border-bottom:1px solid white;margin: -15px auto 10px; auto;">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
    </td>
    <td style="width:200px;vertical-align:top;text-align:center;">
      <p style="font-size:1.5em;font-weight:bold;font-family:times new roman;text-align:center;line-height:110%;">SECTION TITLE.</p>
      <hr style="border-bottom:1px solid white;margin: -15px auto 10px; auto;">
      <ul style="text-align:left;">
        <li>put</li>
        <li>content</li>
        <li>here</li>
      </ul>
    </td>
  </tr>
</table>

