<style>
#ggal table{
  border-collapse: collapse;
  width: fit-content;
  margin: 0.75em auto;
}
#ggal img{margin: 0}
</style>

<details id="ggal"><summary>{{title}}</summary>
<table><tbody>

<tr>
  <td><img src="{{images.0.href}}" title="{{images.0.alt}}"></td>
  <td><img src="{{images.1.href}}" title="{{images.1.alt}}"></td>
  <td><img src="{{images.2.href}}" title="{{images.2.alt}}"></td>
</tr>
<tr>
  <td><img src="{{images.3.href}}" title="{{images.3.alt}}"></td>
  <td><img src="{{images.4.href}}" title="{{images.4.alt}}"></td>
  <td><img src="{{images.5.href}}" title="{{images.5.alt}}"></td>
</tr>
<tr>
  <td><img src="{{images.6.href}}" title="{{images.6.alt}}"></td>
  <td><img src="{{images.7.href}}" title="{{images.7.alt}}"></td>
  <td><img src="{{images.8.href}}" title="{{images.8.alt}}"></td>
</tr>

</table></tbody>
</details>
