<link rel="stylesheet" href="https://file.garden/aTNlS0deYkPxCXcx/css/drag_window.css">

<style>
.win{{window_class}} {
--button-1-color: {{color1}};
--button-2-color: {{color2}};
--close-button-color: {{color3}};
--position-x: {{x}}vw;
--position-y: {{y}}rem;
--title-bg-color: {{title-bg}};
--title-color: {{title-color}};
--drag-indicator-style: 2px dotted white;
--initial-width: {{w}}px;
--initial-height: {{h}}px;
scrollbar-color: red black; /* bar color followed by background color */
}
</style>

<div class="windowReopen">
<!-- Replace me with whatever you want your reopen window button to look like -->
<div style="width: fit-content; padding: 0px 5px; border-radius: 5px; background: #1f0f1f;">
{{reopen_text}}
</div>
<!-- End of replace me -->
</div>
<!-- Begin Window | IMPORTANT, DO NOT MOVE THIS.  It !!MUST!! come directly after the open button for the open button to work -->
<table class="dragContainer win{{window_class}}"> <!-- add a custom class to define settings per window -->
<tr><td><div class="dragHandle"></div></td><td></td></tr>
<tr><td></td><td><details class="dragWindow" {{#if open}}open{{/if}}> <!-- Remove the 'open' if you want it to start minimized -->
<!-- Your window here -->
<summary class="titlebar">
<!-- Window icon here -->
<img src="{{icon_src}}" class="icon"><span>
<!-- Your window title below-->
Kayla™ Window System Demo
<!-- Your Window title above -->
</span><div class="windowButtons"><a href="https://carrion.chat/character/Kayla#windowSystem"><div></div></a><div></div><div class="closeButton"></div></div>
<div class="dragIndicator"></div><div class="dragFixB"></div></div><div class="dragFixR"></div>
</summary><div>

<!-- Your window contents here (full markdown support) replace what is here.-->

replace me with your window contents on carrion! editing window content is not supported on the template site.

<!-- End of your window -->
</div></details></td></tr></table>
