<style>
#pretentious .query{
  margin: 40vh auto;
  width: fit-content;
  font-family: serif;
  font-weight: bold;
  text-align:left
}
#pretentious .query li{
  list-style-type: '—';
  text-align:left;
  margin: 0 0 0 3em;
  padding: 0 0 0 1em;
}
#pretentious .comp p{text-align:center;margin:0}

#pretentious~details>summary{text-align:center}
</style>

<div id="pretentious">

<div class="query">

{{{query}}}

<ul>{{#each attributes}}
  <li>{{text}}</li>
{{/each}}</ul>

<div class="comp">{{{complication}}}</div>
</div>

<img src="{{image}}" />
</div>
<details><summary>{{dropdown_title}}</summary>

{{{dropdown_content}}}
</details>
