<style>
#main {
  --theme:{{theme-color}};
}
#main p {
  text-align:justify;
  text-indent:1.5rem;
}

.wikiblock{
  display:flex;flex:1;
  flex-direction:column;
  max-width:400px
}
.wikiblock.right {
  float:right;
  margin:0 0 2em 2em
}
.wikiblock.left {
  float:left;
  margin:0 2em 2em 0
}
.wikiblock blockquote {
  text-align:center;
  font-size:1.2rem;font-weight:bold;
  border-color:var(--theme)
}
.wikiblock img {
  object-fit:contain;
  height:100%;max-height:400px
}
.wikiblock td {width:100%}

/* "sources" dropdown */
.sources{display:inline-block;width:100%}
details>summary {color:var(--theme)}
details>summary:hover { color:color-mix(in srgb, var(--theme) 45%, white);}
details hr{border-color:var(--color-bg)}

details>details { background-color:color-mix(in srgb, #252525 90%, white); }

details>details>details,
details>details>details[open]>summary {border-bottom:1px solid black}
details>details>details[open]{border:1px solid black;border-top:0}
</style>

<div id="main">
<div class="wikiblock right">
  <blockquote>{{quote}}</blockquote>
  <img src="{{image}}"/>

  <table><tbody>
    {{#each attributes}}
    <tr>
      <th>{{label}}</th>
      <td>{{{value}}}</td>
    </tr>
    {{/each}}
  </tbody></table>
</div><!-- .wikiblock.right END -->

<div>

{{{content}}}

<details open class=sources><summary>Sources...</summary>

{{#each sources}}
<details><summary>{{title}}</summary>

{{{content}}}
</details>
{{/each}}

</details><!-- sources details END -->

</div><!-- main content END -->
</div><!-- #main END -->

