<style>
#main {
  display:flex;flex-direction:row-reverse;
  gap: 2rem;
  width: 100%;

  --theme:{{theme-color}};
}

#main .col {
  display:flex;flex:1;
  flex-direction:column;
}
#main .col img {
  object-fit:contain;
  height:100%;max-height:400px
}

#main p {
  text-align:justify;
  text-indent:1.5rem;
}

#main blockquote {
  text-align:center;
  font-size:1.2rem;font-weight:bold;
  border-color:var(--theme)
}
#main .classcard td {width:100%}
</style>

<div id="main">
<div style="max-width:400px" class="col">

<blockquote>{{{quote}}}</blockquote>

<img src="{{image}}" />

<table class="classcard"><tbody>

{{#each attributes}}
<tr>
  <th>{{{label}}}</th>
  <td>{{{value}}}</td>
</tr>
{{/each}}

</tbody></table>

</div><!-- .col END -->

<div class="col">

{{{content}}}

</div><!-- .col END -->
</div><!-- #main END -->

