<div class="trainercard" style="border: 1px solid #9a9a9a; background: #000000 url(https://i.postimg.cc/wMbQ3bMC/32240021-8ZAy-Km1ada4Ry-Fn.png);">

# Trainer's Card
## {{{name}}}
<p><div class="trainerinfo">

{{{bio}}}

</div> <div class="trainer">

![{{trainer_alt}}]({{trainer_src}}) 

</div><br><div class="pokemon">

{{#each pokemon}}  ![{{alt}}]({{src}}){{/each}}

</div></div><link rel="stylesheet" href="https://file.garden/aTpIU0kelRFOHuHU/templates/trainercard.css" type="text/css"/>
