<style>
details.bgal{
  --height:{{bgal.height}};
  --space:{{bgal.space}};
}
details.bgal>.images {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;

  gap:var(--space);
  padding:{{bgal.space}} 0;
}
details.bgal>.images a{border:none}
details.bgal>.images a:hover {
  border:none;
  transform:scale(1.1);
}
details.bgal>.images img {
  max-height:var(--height);
  margin:0;
}
</style>

<details class="bgal"><summary>Gallery</summary>
<div class="images">

{{#if img1.href}}
<a href="{{img1.href}}">
  <img src="{{img1.href}}" title="{{img1.alt}}">
</a>
{{/if}}

{{#if img2.href}}
<a href="{{img2.href}}">
  <img src="{{img2.href}}" title="{{img2.alt}}">
</a>
{{/if}}

{{#if img3.href}}
<a href="{{img3.href}}">
  <img src="{{img3.href}}" title="{{img3.alt}}">
</a>
{{/if}}

{{#if img4.href}}
<a href="{{img4.href}}">
  <img src="{{img4.href}}" title="{{img4.alt}}">
</a>
{{/if}}

{{#if img5.href}}
<a href="{{img5.href}}">
  <img src="{{img5.href}}" title="{{img5.alt}}">
</a>
{{/if}}

</div>
</details>
